html {
  overflow: scroll;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
body::-webkit-scrollbar-thumb {
  background: #FF0000;
}