@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
::root{
    var(--swiper-pagination-color, var(--swiper-theme-color))
} */

.swiper .swiper-pagination{
    height: 740px;
    width: 80px!important;
}
.swiper .swiper-pagination{
    transform: none!important;
    right: 2%;
    top: 0;
    bottom: 0!important;
    left: auto!important;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swiper .swiper-pagination-bullet{
    margin: 5px!important;
    display: block;
    background: #107D6A;
    opacity: 1;
    width: 10px;
    height: 10px;
    left: auto!important;
}
.swiper .swiper-pagination-bullet-active{
    position: relative;
    width: 26px;
    height: 26px;
    border: 1px solid #107D6A;
    background: none;
}
.swiper .swiper-pagination-bullet-active:after{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    background: #107D6A;
}
body{
   background: #F8F8F8;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: rgb(36, 131, 50) !important;
    border-radius: 10px;
}